header {
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: var(--color-text-ligth);
  z-index: 999;
}
.header-container {
  height: 100%;
  margin: auto;
  max-width: 1200px;
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: var(--color-text-ligth);
  z-index: 999;
}
.menu-list {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-size: 1rem;
}
.menu-link a {
  color: var(--color-text-ligth);
  transition: color 0.3s;
}
.menu-link a:hover {
  color: var(--color-bg-button);
}
.menu-hamburger {
  display: none;
}

@media (width<900px) {
  .menu-btn {
    display: none;
  }
  .menu-list {
    position: absolute;
    left: 0%;
    top: -1000%;
    width: 100%;
    opacity: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block: 5rem;
    transition: 0.5s;
  }
  .menu-list.active {
    top: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .menu-hamburger {
    display: block;
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 999;
  }
  .hamburger {
    height: 3px;
    width: 25px;
    background-color: var(--color-text-ligth);
    border-radius: 20% / 90%;
    transition: 0.5s;
    position: relative;
  }
  .menu-hamburger.active li:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  .menu-hamburger.active li:nth-child(2) {
    transform: scale(0);
  }
  .menu-hamburger.active li:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
}
