@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("header.css");
@import url("hero.css");
@import url("services.css");

:root {
  --color-bg-cards: #e3e3e3;
  --color-bg-button: #d87920;
  --color-text-dark: #333;
  --color-text-ligth: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--color-text-dark);
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
section {
  width: 100%;
  max-width: 1200px;
  padding: 6rem 1rem 1rem 1rem;
  margin: auto;
}
.section-title {
  text-align: center;
  font-size: clamp(2rem, 3.5vw, 5rem);
  font-weight: 600;
  margin-bottom: 3rem;
}
.btn {
  background-color: var(--color-bg-button);
  color: var(--color-text-ligth);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
