@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("header.css");
@import url("hero.css");
@import url("services.css");
@import url("about.css");
@import url("gallery.css");
@import url("contacts.css");
@import url("book.css");
@import url("footer.css");

:root {
  --color-bg-cards: #e3e3e3;
  --color-bg-button: #d87920;
  --color-bg-button-ligth: #f3eeea;
  --color-text-dark: #333;
  --color-text-ligth: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--color-text-dark);
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
section {
  width: 100%;
  max-width: 1200px;
  padding: 6rem 1rem 1rem 1rem;
  margin: auto;
}
footer {
  background-color: var(--color-text-dark);
  padding: 1rem;
}
footer * {
  font-size: 0.8rem;
  color: var(--color-text-ligth);
}
.logo-color {
  color: var(--color-bg-button);
}
.section-title {
  text-align: center;
  font-size: clamp(2rem, 3.5vw, 5rem);
  font-weight: 600;
  margin-bottom: 3rem;
}
.btn {
  background-color: var(--color-bg-button);
  color: var(--color-text-ligth);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  border: none;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 1px solid var(--color-text-ligth);
  border-left: 1px solid var(--color-text-ligth);
  transition: 0.3s;
}
.btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid var(--color-text-ligth);
  border-right: 1px solid var(--color-text-ligth);
  transition: 0.3s;
}
.btn:hover::before,
.btn:hover::after {
  width: 100%;
  height: 100%;
}
.section-full {
  margin-top: 6rem;
  padding-inline: 0;
  min-width: 100vw;
}
.top {
  position: fixed;
  bottom: 90px;
  right: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--color-text-dark);
  background-color: rgba(243, 238, 234, 0.5);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  z-index: 899;
}
.top:hover {
  width: 55px;
  height: 55px;
  font-size: 1.5rem;
  background-color: var(--color-bg-button);
  color: var(--color-text-ligth);
}
.show {
  display: flex;
}
